In [30]:
SELECT *
FROM InductionCompleted

InductionCompleted table store information about users who have completed all compulsory trainings.Â 

It is updated by triger inductionCompleted\_00, on CompletedTrainings Tab

<span style="color: var(--vscode-foreground);">Up to the project requirements Table has to be updated with name, email, project name<br></span>

In [4]:
ALTER TABLE InductionCompleted
ADD Title NVARCHAR(100),
    Email NVARCHAR(100), 
    ProjectName NVARCHAR(100);

In [19]:
ALTER TRIGGER inductionCompleted_00
ON CompletedTrainings
FOR INSERT AS
BEGIN 
	
	DECLARE @PersonProjectID int
	DECLARE @ProjectID int
    DECLARE @PersonID int
	DECLARE @NumCompletedTrainings int
	DECLARE @NumTrainingsProject int
    DECLARE @Title nvarchar(100)
    DECLARE @Email nvarchar(100) 
    DECLARE @ProjectName nvarchar(100)

	SET @PersonProjectID = (SELECT PersonProjectID FROM inserted)

	SET @ProjectID = (SELECT ProjectID FROM PersonProject WHERE PersonProjectID = @PersonProjectID)
    SET @PersonID = (SELECT PersonID FROM PersonProject WHERE PersonProjectID = @PersonProjectID)

	SET @Title = (SELECT Title FROM People_Details WHERE PersonDetailsID = @PersonID)
    SET @Email = (SELECT Email FROM People_Details WHERE PersonDetailsID = @PersonID) 
    SET @ProjectName = (SELECT ProjectName FROM Projects WHERE ProjectID = @ProjectID)     

	SET @NumTrainingsProject = (SELECT COUNT(*) FROM Trainings WHERE ProjectID = @ProjectID AND Mandatory = 1)
	SET @NumCompletedTrainings = (SELECT COUNT(*) FROM CompletedTrainings ct JOIN Trainings t ON ct.TrainingID = t.TrainingID WHERE t.Mandatory = 1 AND ct.PersonProjectID = @PersonProjectID)

	IF @NumCompletedTrainings >= @NumTrainingsProject
		BEGIN

		INSERT INTO InductionCompleted (PersonProjectId, CompletedDate, Title, Email, ProjectName)
		VALUES (@PersonProjectID, CAST(GETDATE() AS DATE), @Title, @Email, @ProjectName)

		END

END
GO